<div id="{{id}}" class='input-group {{template}} {{classes}} {{#if error.message}}--error{{/if}}'>

  <label class='checkbox'>
    {{label}}
    {{> checkbox-input input}}
    <span class='checkbox__checkmark'></span>
  </label>

  {{> component error}}
</div>