<div id="{{id}}">
  {{> checkbox-input showPanel}}

  {{#if showWhenFalse}}
    <div class="{{#unless showPanel.value}}--visible{{else}}--hidden{{/if}}">
      {{> (lookup panel template) panel}}
    </div>
  {{else}}
    <div class="{{#if showPanel.value}}--visible{{else}}--hidden{{/if}}">
      {{> (lookup panel template) panel}}
    </div>
  {{/if}}

</div>