<fieldset id="{{id}}"
  {{#if name}}name="{{name}}"{{/if}}
  {{#if formId}}form="{{formId}}"{{/if}}
  {{#if disabled}}disabled{{/if}}>

  {{#if legend}}
    <legend>
      <span>{{legend}}</span>
    </legend>
  {{/if}}

  {{> @partial-block }}

</fieldset>