<form id='{{id}}'>

  {{#if title}}
    <h2>
      <span>{{title}}</span>
    </h2>
  {{/if}}

  {{> @partial-block }}

  <div class="form-actions">
    <button class="button button--filled" type="submit"  value="Submit">{{submit}}</button>
  </div>

</form>