<div id="{{id}}" class='input-group radio-button-input-group {{classes}}'>
  <div class='btn-group__buttons'>
    {{#each input as |button|}}
      <div class='btn-group__button-container'>
        {{> component button}}
        <label class='btn-group__button' for='{{button.id}}'>
          {{button.label}}
        </label>
      </div>
    {{/each}}
  </div>
  {{> component error}}
</div>