{{#> base-layout}}
  <div class="grid-container grid-container--fluid">
    <main class="main">
      <section class="rsp__xs75__md66__xl50__centered main__block text-input-group-container">
        {{component 'text-input-group' textInputGroup}}
      </section>
    </main>
  </div>
{{/base-layout}}
