<label class='input-group__label' for='{{for}}'>
  {{label}}
</label>
{{#unless required}}
  <span class='number-input__optional-label'>
    {{!-- TODO translate helper {{translate 'OPTIONAL'}} --}} (optional)
  </span>
{{/unless}}