<div id="{{id}}" class="page-blocker__wrapper {{#if isBlocked}}--visible{{/if}}">
  <div class='page-blocker'>
    <div class="lds-grid "><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
</div>