$font-body: 'Open Sans', sans-serif;
$font-title: 'Monserrat', serif;

$column-gutter: 0.750em;
$border-radius: 0.5em;

$palette: (
  color-primary: #ec6907,
  color-secondary: #3f9fca,
  color-accent: #9775A5,

  color-success: #569F69,
  color-error: #e42328,

  color-grey: #6f6f6e
);

$black: #000;
$white: #fff;

$primary-orange: #fc7a00;
$primary-green: #1cb261;
$primary-blue: #00c7ff;
$primary-purple: #734fd9;
$primary-pink: #fa6199;
$primary-yellow: #ffb500;

$secondary-orange: #fc7a00;
$secondary-green1: #2bc46e;
$secondary-green2: #00f0b0;
$secondary-green3: #00ffd4;
$secondary-blue: #00e8ff;
$secondary-purple: #6661f0;
$secondary-pink1: #f53663;
$secondary-pink2: #b14f83;

$body-copy: #333;
$body-light: #fff;
$secondary-bg: #e9ecef;
$secondary-gradient: linear-gradient(90deg, rgba(0,192,255,1) 0%, rgba(10,139,228,1) 35%, rgba(163,44,223,1) 100%);
$secondary-gradient-inverse: linear-gradient(90deg, rgba(163,44,223,1) 0%, rgba(10,139,228,1) 65%, rgba(0,192,255,1) 100%);

@function delta-shades(
  $tokens,
  $colors: color-primary color-secondary color-accent color-success color-error color-grey,
  $dark_shades: (D1: 25%, D2: 50%, D3: 70%, D4: 90%),
  $light_shades: (L1: 30%, L2: 45%, L3: 60%, L4: 75%, L5: 90%)
) {
  $temp: ();

  @each $color in $colors {

    $temp: map-merge($temp, ('#{$color}': map-get($tokens, $color)));

    @each $shade, $percentage in $dark_shades {
      $temp: map-merge(
        $temp,
        ('#{$color}_#{$shade}': mix(black, map-get($tokens, $color), $percentage))
      );
    }

    @each $shade, $percentage in $light_shades {
      $temp: map-merge(
        $temp,
        ('#{$color}_#{$shade}': mix(white, map-get($tokens, $color), $percentage))
      );
    }
  }

  @return $temp;
};

$palette: delta-shades($palette);

