@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import '_colors.scss';
@import '_responsive.scss';

$font-family: 'Lato', sans-serif;
$column-gutter: 0.750em;
$border-radius: 0.5em;
/***************RESET**************/
*,
*:after,
*:before {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
  border: 0;
  font-family: $font-family;
	font-size: 100%;
	line-height: 1.5em;
	vertical-align: baseline;
}
html,body{
  height: 100%;
  min-height: 100%;
  width: 100%;
}
body{
  color: $body-copy;
  font-family: $font-family;
  overflow-y: auto;
  position: relative;
  overflow-x: hidden;
}
#page-wrapper{
  white-space: nowrap;
  display:block;
}

.grid-container{

  .header-form{
    position: relative;
    width:calc(100% - 20rem + 1px);
    background-color: $body-light;
    padding: .75rem 1.5rem;
    margin-top: -7.25rem;
    z-index: 5;

  }
  
  &.grid-container--fluid{
    .main{
      padding: 0;
    }

    .sidebar,
    .header-form{
      margin-top: 0;
    }

  }

  &:not(.grid-container--fluid) {
    .sidebar + .main{
      width: calc(100% - 20rem);
      padding: 8.25rem 1.5rem 1rem;
      display: table-cell;

      .header-form{
        margin-top: -12.5rem;
        padding-left: 0;
        padding-right: 2.5rem;
        position: fixed;
        max-width: calc(1440px - 21.5rem);
        z-index: 5;
      }
    }
  }

  .main{
    left: 0;
    width:100%;
    padding: 8.25rem 0 1rem;

    section{
      margin-bottom: 3.5rem;
      display: block;
      width: 100%;
      clear: both;
    }
    
    &-buttons{
      text-align: right;
    }
  }

  .sidebar{
    float: right;
    width: 20rem;
    bottom: 0vh;
    top: 7.25rem;
    position: absolute;

    @supports (position: sticky) {
      position: sticky;
      margin-top: 7.25rem;
      bottom: 0;
    }
  }
}


.input-error{
  color: map-get($palette, color-primary);
  padding: 0  $border-radius;
  display: block;
}
::selection {
  color: $body-light;
  background: map-get($palette, color-primary);
}
.form-actions{
  padding: 1em 0;
  text-align: right;
}
.secondary-title{
  font-size: 1.125em;
  font-weight: 700;
  color:  map-get($palette, color-grey_L2);
  margin-bottom: 1em;
  text-transform: uppercase;
}
.primary-title{
  font-size: 1.500em;
  font-weight: 700;
  color: $body-copy;
  margin-bottom: 2.500em;
}

.--visible{
  display: block;
}

.--hidden{
  display: none;
}