@import '_colors.scss';

.input-group {
  input[type="radio"]
  {
    display: none;
    &:checked + .btn-group__button{
      color: $white;
      background: map-get($palette, color-primary);
    }
  }
  .btn-group{
    &__buttons{
      display: inline-block;
      font-size: 0;
      .btn-group__button-container{
        display: inline-block;
        cursor: pointer;
        box-sizing: border-box;
        &:first-child .btn-group__button{
          border-left: 1px solid map-get($palette, color-grey_L3);
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
        &:last-child .btn-group__button{
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
        .btn-group__button{
          -webkit-appearance: none;
          font-size: 12px;
          font-weight: 700;
          border-left-width: 1px;
          border-left-style: none;
          outline: 0;
          cursor: pointer;
          padding: 4px 10px;
          display: block;
          background: map-get($palette, color-grey_L4);
          border-top: 1px solid map-get($palette, color-grey_L3);
          border-bottom: 1px solid map-get($palette, color-grey_L3);
          border-right: 1px solid map-get($palette, color-grey_L3);
          &:hover{
            background: map-get($palette, color-primary_L1);
            color: $white;
          }
        }
      }
    }
  }
}

.button-group-input-group {
  .input-group__label{
    font-size: 14px;
    color: map-get($palette, color-grey);
    display: inline-block;
    &:after{
      content: ':';
      margin-right: 10px;
    }
  }
}
