@import '_colors.scss';

.button{
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem 2rem;
  margin: 0 1.5rem 1rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  box-sizing: border-box;
  border-radius: 1.25rem;
  border: 1px solid map-get($palette, color-primary);
  cursor: pointer;

  &--filled{
    color: $body-light;
    background-color: map-get($palette, color-primary);
    &:hover{
      background-color: map-get($palette, color-primary_L2);
      border-color: map-get($palette, color-primary_L2);
    }
  }

  &--wired{
    color: map-get($palette, color-primary);
    background-color: transparent;
    &:hover{
      color: map-get($palette, color-primary_L2);
      border-color: map-get($palette, color-primary_L2);
    }
  }

  &--negative{
    color: map-get($palette, color-primary);
    background-color: $body-light;
    border-color: $body-light;
    
    &:hover{
      background-color: map-get($palette, color-primary_L5);
    }
  }

  &--round{
    border-radius: 50%;
    padding: .5rem;
    font-size: 1.75rem;
    line-height: 1.75rem;
    width: 2.75rem;
    height: 2.75rem;
  }

  &[disabled], [disabled], &[disabled]:hover, [disabled]:hover{
    background-color: $disabled-bg;
    border-color: map-get($palette, color-grey_L3);
    color: map-get($palette, color-grey_L3);
    cursor: default;
  }

  &--in-form{
    margin-top: 1.5rem;
  }
}
button > *{
  pointer-events: none;
}