@import '_colors.scss';

.checkbox {
  display: block;
  position: relative;
  padding-left: 2rem;
  line-height: 1.5rem;
  height: 1.5rem;
  margin: .75rem .25rem .5rem 0;
  cursor: pointer;
  user-select: none;
  & > * {
    pointer-events: none;
  }
  &:hover{
    .checkbox__input:not(:disabled) {
      & ~ .checkbox__checkmark {
        background-color: $grey-dark;
        border-color: $black;
      }
    }
  }
  .checkbox__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    bottom: 0;
    left: 0;
    &:disabled {
      & ~ .checkbox__checkmark {
        border: 2px solid map-get($palette, color-grey);
        background: $grey-light;
        &:after {
          border-color: $grey-light;
        }
      }
      &:checked {
        &  ~ .checkbox__checkmark {
          border: 2px solid map-get($palette, color-grey);
          background: map-get($palette, color-grey);
          &:after {
            border-color: $white;
          }
        }
      }
    }
    &:checked {
      &~ .checkbox__checkmark {
        background-color: $black;
        border-color: $black;
        &:after {
          display: block;
        }
      }
    }
  }
  .checkbox__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    border: 2px solid $black;
    background: $white;
    border-radius: 2px;
    box-sizing: border-box;
    &:after {
      -webkit-transform: rotate(45deg);
      border: solid $white;
      border-width: 0 2px 2px 0;
      content: "";
      height: 1rem;
      left: .25rem;
      position: absolute;
      top: -2px;
      transform: rotate(45deg);
      width: .5rem;
    }
  }
}

