@import '_colors.scss';

fieldset {
  legend{
    border: none;
    margin: 1.5rem .5rem 1.25rem;

    span{
      border: none;
      color: $primary-blue2;
      font-size: 2.125rem;
    }
  }
  
  &[name="bundles"] >{
    & legend{
      position: relative;
      font-weight: 700;
      margin-bottom: 2rem;
      border-bottom: none;
      padding:.5rem 5rem .5rem 2.5rem;
      background: $corporate-gradient;
      border-top-right-radius: 2rem;
      
      & span {
        font-size: 2.5rem;
        line-height: 3rem;
        color: $white;
        border-bottom: none;
      }
    }
  }
}
