@import '_colors.scss';
@import '_gutters.scss';

h1,h2,h3,h4,h5,h6{
  line-height: inherit;
  padding: 0;
}

h1{
  font-size: 3rem;
  font-weight: 500;
  @extend %gutter-xl;
}

h2{
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: .25rem solid map-get($palette, color-grey_L2);
  margin-bottom: 2rem;

  & span {
    border-bottom: .25rem solid map-get($palette, color-primary);
    padding-bottom: .23rem;  //.23rem to match with H2 line
  }
}

h3{
  font-size: 1.5rem;
  font-weight: 700;
  @extend %gutter-md;
}

h4{
  font-size: 1rem;
  font-weight: 700;
  margin: 1.5rem .5rem .25rem;
  color: map-get($palette, color-grey_L2);
}

h5{
  font-size: .875rem;
  font-weight: 700;
  @extend %gutter-sm;
}

h6{
    font-size: .75rem;
    font-weight: 700;
    @extend %gutter-xs;
}