@import '_colors.scss';
@import '_gutters.scss';

h1,h2,h3,h4,h5,h6{
  font-family: $font-title;
  line-height: inherit;
  padding: 0;
}

h1{
  font-size: 3rem;
  font-weight: 500;
  @extend %gutter-xl;
}

h2{
  color: $black;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
  
  // & span {
  //   color: $white;
  //   font-size: 2rem;
  //   font-weight: 800;
  // }
}

h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: $primary-orange;
  margin: 1.5rem .5rem .25rem;
}

h4{
  color: $black;
  font-size: 1.25rem;
  text-transform: uppercase;
  border-bottom: 4px solid $grey-dark;
  font-weight: 700;
  margin-bottom: 1rem;

  span{
    border-bottom: 4px solid $primary-orange;
    padding: 0 .25rem 1px;
  }
}

h5{
  font-size: .875rem;
  font-weight: 700;
  @extend %gutter-sm;
}

h6{
    font-size: .75rem;
    font-weight: 700;
    @extend %gutter-xs;
}