@import '_colors.scss';

.header{
  background-color: $body-light;
  position: fixed;
  height: 7.25rem;
  width: 100%;
  max-width: 1440px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 3;
  
  &__title{
    padding: 1.5rem;
    font-size:3em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 20rem);
  }
  
  .logo{
    text-decoration: none;
    text-align: right;

    &__svg svg{
      fill: map-get($palette, color-primary);
      width: 9rem;
      height: 3.375rem;
    }

    &__caption{
      text-transform: uppercase;
      color: map-get($palette, color-primary);
      font-weight: bold;
      padding-right: .25rem;
    }
  }
    
  .logo__wrapper{
    padding: 1rem;
    max-width: 20rem;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    z-index: 5;
  }
  
  &--fluid{
    max-width: 100%;
    margin: 0;
    background-color: transparent;
  }

  &.--negative {
    .logo{
      &__svg svg{
        fill: $body-light;
      }
      
      &__caption{
        color: $body-light;
      }
    }
  }

}