@import '_colors.scss';

.header{
  padding: 1.5rem;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;

  &__title{
    font-size:3em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
  }

  .logo{
    text-decoration: none;
    text-align: right;
    
    &__wrapper{
      width: 9rem;
      float: right;
    }

    &__svg svg{
      fill: map-get($palette, color-primary);
      width: 9rem;
      height: 3.375rem;
    }

    &__caption{
      text-transform: uppercase;
      color: map-get($palette, color-primary);
      font-weight: bold;
      padding-right: .25rem;
    }
  }
  
  &--floating{
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    padding: 0;
    z-index: 5;
  }

  &.--negative .logo{
    &__svg svg{
      fill: $body-light;
    }
    
    &__caption{
      color: $body-light;
    }
  }
}