@import './_colors.scss';
//@import './_gutters.scss';

.input-group{
  margin: 0 .5rem 1rem;
  outline: none;
  position: relative;
  box-shadow: none;
  cursor: pointer;
  
  &__input{
    transition: all 300ms ease 0s;
    font-size: 1.125rem;
    line-height: 1.375rem;
    padding: .5rem 1rem;
    box-sizing: border-box;
    height: 4rem;
    width: 100%;
    color: $black;
    border: 2px solid $black;

    &:focus,
    &:not(:placeholder-shown){
      border: 4px solid $black;
      padding-top: 1.5rem;

      & + .input-group__label-wrapper .input-group__label {
        transform: translateY(-110%);
        font-size: .75rem;
        opacity: .75;
        color: $black;
        top: 1.5rem;
      }
    }

    &::placeholder{
      color: transparent;
    }
  }

  &__optional-label,
  &__label{
    font-size: 0.75rem;
    line-height: .75rem;
    position: absolute;
  }
  
  &:not(select) .input-group__label{
    top: 1.75rem;
    left: 1rem;
    color: $grey;
    font-size: 1.125rem;
    transition: all 300ms ease 0s;
  }
  
  &__optional-label{
    color: $primary-orange;
    text-transform: uppercase;
    top: .75rem;
    right: 1rem;
  }

  &[disabled], [disabled]{
    background-color: $grey-light;
    color: $grey-dark;
    cursor: not-allowed;
    pointer-events: none;

    &:focus,
    &:not(:placeholder-shown){
      border-width: 2px;
    }

    & + .input-group__label-wrapper .input-group__optional-label{
      color: $black;
    }
  }

  &__input:required + .input-group__label + .input-group__optional-label{
    display: none;
  }

  &__error{
    font-weight: 700;
    display: none;
  }

  &.--error{

    .input-group{
      &__input,
      &__optional-label{
        color: $secondary-pink1;
        border-color: $secondary-pink1;
      }
    }
    & .input-group__error {
      display: block;
      color: $secondary-pink2;
      text-align: left;
      margin-bottom: 1rem;
      padding-left: 0.25rem;
    }
  }

  .textarea-input,
  .date-input{
    font-family: $font-body;
  }

  .textarea-input{
    height: 8rem;
    max-width: 100%;
    min-width: 100%;
  }

  //SIZES
  &--xl{
    margin: 0 1rem 1.5rem;
    
    .input-group__input {
      font-size: 1.75rem;
      line-height: 2rem;
      padding: 1.5rem 1rem 0;
      height: 5rem;

      &:focus,
      &:not(:placeholder-shown){
        padding-top: 1.5rem;
  
        & + .input-group__label-wrapper .input-group__label {
          top: 2.25rem;
          font-size: 1rem;
        }
      }
    }
  
    .input-group__optional-label,
    .input-group__label{
      font-size: 1.75rem;
      line-height: 1.75rem;
    }
  
    .input-group__label{
      margin-bottom: .75rem;
    }
  
    .input-group__optional-label{
      padding-right: .25rem;
    }
    .input-group__error{
      font-size:1rem;
    }
  }
}