@import './_colors.scss';

.input-group{
  &.--error{
    margin-bottom: .25rem;
    .number-input{
      &__input,
      &__label,
      &__optional-label{
        color: $secondary-pink1;
        border-color: $secondary-pink1;
      }
    }
    & + .input-group__error {
      display: block;
      color: $secondary-pink1;
      margin-bottom: 1rem;
      padding-left: 0.25rem;
    }
  }
}


.number-input{
  position: relative;
  &__input{
    outline: none;
    border: none;
    display:block;
    font-size: 1rem;
    border: 1px solid $grey-light;
    border-radius: .5rem;
    padding: 2rem 1.5rem .5rem .75rem;
    box-sizing: border-box;
    width: 100%;
    color: $black;
    &[disabled], [disabled] + .number-input__label{
      color: map-get($palette, color-grey);
    }
    &:hover, :focus{
      border-color: $primary-orange;
    }
    &[disabled], [disabled]:hover{
      border-color: $grey-light;
    }
    &:focus{
      border-color: $primary-orange;
      box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
    }
    &::placeholder {
      color: map-get($palette, color-grey);
    }
    &:required + .number-input__label + .number-input__optional-label{
      display: none;
    }
  }
  &__unit{
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    font-weight: 400;
  }
  &__optional-label,
  &__label {
    display: block;
    margin-top: .5rem;
    font-size: .75rem;
    text-transform: uppercase;
    position: absolute;
  }
  &__label {
    margin-left: .75rem;
    color: $primary-orange;
    position: absolute;
    top: 0;
  }
  &__optional-label {
    margin-right: .75rem;
    color: map-get($palette, color-grey);
    position: absolute;
    top: 0;
    right: 0;
  }
}

