@import './_colors.scss';
@import './_gutters.scss';

.input-group{
  outline: none;
  border: none;
  display:block;
  position: relative;
  @extend %gutter-xs;
  margin-top: .75rem;

  &__input {
    border: 1px solid map-get($palette, color-grey_L2);
    border-radius: .5rem;
    padding: 2rem 1.5rem .5rem .75rem;
    box-sizing: border-box;
    width: 100%;
    color: $body-copy;
  }

  &__label{
    margin-left: .75rem;
    color: map-get($palette, color-primary);
    position: absolute;
    top: 0;
  }

  &__optional-label{
    margin-right: 1rem;
    color: map-get($palette, color-grey);
    position: absolute;
    top: 0;
    right: 0;
  }

  &__optional-label,
  &__label{
    display: block;
    margin-top: .25rem;
    font-size: .75rem;
    text-transform: uppercase;
    position: absolute;
  }

  &[disabled], [disabled]{
    background-color: map-get($palette, color-grey_L4);

    &:hover:focus{
      border-color: map-get($palette, color-primary);
      box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.15);
    }

    & + .input-group__label{
      color: map-get($palette, color-grey);
    }
  }

  &:hover, :focus{
    border-color: map-get($palette, color-primary);
  }

  &::placeholder {
    color: map-get($palette, color-grey);
  }

  &__input:required + .input-group__label + .input-group__optional-label{
    display: none;
  }

  &__error{
    font-weight: 700;
    display: none;
  }

  &.--display-mode {
    .input-group{
      &__input{
        background: none;
        border: 0;
        padding-left: 0;
      }
      &__label{
        margin-left: 0;
        color: map-get($palette, color-primary);
      }
      &__optional-label{
        margin-right: 0;
        display: none;
      }
    }
  }

  &.--error{
    margin-bottom: .25rem;

    .input-group{
      &__input,
      &__label,
      &__optional-label{
        color: map-get($palette, color-error);
        border-color: map-get($palette, color-error);
      }
      &__error {
        display: block;
        color: map-get($palette, color-error);
        margin-bottom: 1rem;
        padding-left: 0.25rem;
      }
    }
  }
}