.grid-container {
  max-width: 1440px;
  width : 100%;
  margin: 0 auto;
  &--fluid{
    max-width: 100%;
    margin: 0;
  }
  &:before,
  &:after {
      content: '';
      display: table;
      clear: both;
  }
  [class*='rsp'] {
    float: left;
    padding: 0 .5rem;
  }
  [class*='rsp'] {
    @media screen and (min-width: 480px) {
        &[class*='__xs100'] {
          width: 100%;
        }
        &[class*='__xs75'] {
          width: 75%;
        }
        &[class*='__xs66'] {
          width: 66.66666667%;
        }
        &[class*='__xs50'] {
          width: 50%;
        }
        &[class*='__xs33'] {
          width: 33.33333333%;
        }
        &[class*='__xs25'] {
          width: 25%;
        }
        &[class*='__xsauto'] {
          width: auto;
        }
    }
    @media screen and (min-width: 768px) {
      &[class*='__sm100'] {
        width: 100%;
      }
      &[class*='__sm75'] {
        width: 75%;
      }
      &[class*='__sm66'] {
        width: 66.66666667%;
      }
      &[class*='__sm50'] {
        width: 50%;
      }
      &[class*='__sm33'] {
        width: 33.33333333%;
      }
      &[class*='__sm25'] {
        width: 25%;
      }
      &[class*='__smauto'] {
        width: auto;
      }
    }
    @media screen and (min-width: 992px) {
      &[class*='__md100'] {
        width: 100%;
      }
      &[class*='__md75'] {
        width: 75%;
      }
      &[class*='__md66'] {
        width: 66.66666667%;
      }
      &[class*='__md50'] {
        width: 50%;
      }
      &[class*='__md33'] {
        width: 33.33333333%;
      }
      &[class*='__md25'] {
        width: 25%;
      }
      &[class*='__mdauto'] {
        width: auto;
      }
    }
    @media screen and (min-width: 1200px) {
      &[class*='__lg100'] {
        width: 100%;
      }
      &[class*='__lg75'] {
        width: 75%;
      }
      &[class*='__lg66'] {
        width: 66.66666667%;
      }
      &[class*='__lg50'] {
        width: 50%;
      }
      &[class*='__lg33'] {
        width: 33.33333333%;
      }
      &[class*='__lg25'] {
        width: 25%;
      }
      &[class*='__lgauto'] {
        width: auto;
      }
    }
    @media screen and (min-width: 1440px) {
      &[class*='__xl100'] {
        width: 100%;
      }
      &[class*='__xl75'] {
        width: 75%;
      }
      &[class*='__xl66'] {
        width: 66.66666667%;
      }
      &[class*='__xl50'] {
        width: 50%;
      }
      &[class*='__xl33'] {
        width: 33.33333333%;
      }
      &[class*='__xl25'] {
        width: 25%;
      }
      &[class*='__xlauto'] {
        width: auto;
      }
    }
  }
  [class*='col-'] {
    float: left;
    min-height: 0.063em;
    padding: 0 16px;
    box-sizing: border-box;
  }
  .col-{
    $base-width: 100% / 12;
    &1{
      width: $base-width;
    }
    &2{
      width: $base-width * 2;
    }
    &3{
      width: $base-width * 3;
    }
    &4{
      width: $base-width * 4;
    }
    &5{
      width: $base-width * 5;
    }
    &6{
      width: $base-width * 6;
    }
    &7{
      width: $base-width * 7;
    }
    &8{
      width: $base-width * 8;
    }
    &9{
      width: $base-width * 9;
    }
    &10{
      width: $base-width * 10;
    }
    &11
    {
      width: $base-width * 11;
    }
    &12{
      width: $base-width * 12;
    }
  }
}