@import '_colors.scss';

.select-input {
	display: block;
	-moz-appearance: none;
	-webkit-appearance: none;
  appearance: none;
  
  &:focus,
  &:not(:placeholder-shown){
    border-width: 2px;
  }

  &::-ms-expand {
    display: none;
  }
  
  option {
    font-weight:normal;
  }
  
  &-group .input-group__label-wrapper .input-group__label{
    font-size: .75rem;
    top: .75rem;
    color: $black;
    opacity: .65;
  }

  &__append{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.25rem 1rem;
    cursor: pointer;
    border-left: 2px solid $black;
  }
}

.dropdown__list-item{
  // display: none;
  padding: 1rem;
  cursor: pointer;
  
  &:hover{
    background-color: $secondary-green1;
    color: $white;
    border-width: 1px;
  }
  
  &.--selected,
  &:checked{
    background-color: $primary-green;
    color: $white;
    font-weight: 700;
  }
  
  &:not(.--selected){
    font-weight: 400;
  }
}