@import '_colors.scss';

.select-input {
	display: block;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  
  &::-ms-expand {
    display: none;
  }
  & option {
    font-weight:normal;
  } 
}

.dropdown__list-item{
  // display: none;
  padding: 1rem;
  cursor: pointer;
  &.hover{
    background-color: map-get($palette, color-primary_L1);
  }
  &.--selected,
  &:checked{
    background-color: map-get($palette, color-primary);
  }
  // &.--display{
  //   display: block;
  // }
  &:checked,
  &.--selected{
    font-weight: 700;
    color: $body-light;
  }
  &:not(.--selected){
    font-weight: 400;
  }
}
