<label class='adamo-switch'>
  <div class='adamo-switch__toggle'>
    <input
    id='{{id}}_input'
    {{#if required}} required        {{/if}}
    {{#if checked}}  checked         {{/if}}
    {{#if disabled}} disabled        {{/if}}
    {{#if name}}     name='{{name}}' {{/if}}
    {{#if value}}    checked         {{/if}}
    class='adamo-switch__toggle__input' type='checkbox'>
    <span class='adamo-switch__toggle__slider'></span>
  </div>
  {{label}}
</label>